body {
    margin: 0;
    padding: 0;
    /* Apple 공홈에서 그대로 가져온 것*/
    font-family: "SF Pro KR","SF Pro Text","Yoon Gothic","Myriad Set Pro","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
    background: white;
    text-align: center;
}

table {
    border-collapse: collapse;
    left: 30px;
    display: inline-block;
    margin: 10px;
}
div {
    top: 0;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
img {
    display: inline-block;
}
td {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    margin: 0px;
}
#logo {
    width: 300px;
}
.side-item {
    display: block;
}
footer, header {
    margin: 0;
    padding: 0;
}
.board_main{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media (max-width: 800px){
    .board_main {
        flex-direction: column;
    }
}
